<div class="section-gap">
</div>

{% schema %}
     {
       "name": "Section Gap",
       "settings": [
          {
            "type": "header",
            "content": "Video Section"
          },
          {
            "id": "xgen_section_gap",
            "type": "text",
            "label": "Section Gap"
            
          }
       ],
    
       "presets": [
       {
         "name": "Section Gap",
         "category": "Xgen Theme options"
       }
     ]
     }
    {% endschema %}